body {
    background: #000;
    color: white;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.casino-app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top-section {
    background: radial-gradient(circle, #222, #000);
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#wheel-img { width: 220px; }
.pointer { position: absolute; top: 10px; color: gold; font-size: 20px; }

.info-bar {
    display: flex;
    justify-content: space-between;
    background: #111;
    padding: 10px;
    border-top: 2px solid #333;
    font-weight: bold;
}

.timer { background: #b01c1c; padding: 0 15px; border-radius: 4px; }

/* Table Layout */
.table-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    background: #050505;
    flex-grow: 1;
}

.main-grid { display: flex; flex-direction: column; width: 180px; }

.zero {
    background: #27ae60;
    text-align: center;
    padding: 10px;
    border: 1px solid #fff3;
}

.numbers-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid #fff3;
}

.num {
    padding: 12px 0;
    text-align: center;
    border: 0.5px solid #fff2;
    font-weight: bold;
}

.red { background: #b01c1c; }
.black { background: #1a1a1a; }

.side-options {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

.side-btn {
    flex: 1;
    background: #222;
    border: 0.5px solid #fff2;
    width: 50px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.red-diamond { color: #e74c3c; }
.black-diamond { color: #555; }

.columns { display: grid; grid-template-columns: repeat(3, 1fr); }
.col-btn { background: #222; font-size: 10px; text-align: center; padding: 5px; border: 0.5px solid #fff2; }

/* Chips */
.chips-section {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 20px 0;
    background: #000;
}

.chip {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    border: 2px dashed #fff8;
    font-weight: bold;
}

.c10 { background: #2980b9; }
.c100 { background: #8e44ad; }
.c1k { background: #f39c12; color: #000; }
.c10k { background: #d35400; }
